#gradient_slider .e-slider-track {
  height: 8px;
  top: calc(50% - 4px);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: blue;
}

.alert-danger {
  background-color: red;
}

.alert {
  color: white;
}

.container {
  display: flex;
  border-right: 10px solid transparent;
}

input {
  text-align: center;
  justify-content: center;
}
