.mat-accent .mat-slider-track-fill {
    background-color: red !important;
}

.mat-slider-thumb-label {
    background-color: red !important;

}

.mat-slider-thumb {
    background-color: red !important;
}

.mat-slider {
    background-color: red !important;
}

.mat-slider-thumb {
    border-color: red;
    background-color: blue;
}


#gradient_slider .e-slider-track {
    height: 8px;
    top: calc(50% - 4px);
    border-radius: 5px;
  }

  .mat-slider-thumb {
	background-color: #AAAAAA !important;
}

.mat-slider-thumb-label {
	background-color: #AAAAAA !important;
}

.mat-slider-track-fill {
	background-color: #AAAAAA !important;
}